In [ ]:
a = ["ten", "11", "12", "13"]
b =  0
for n in a:
    b += int(n)
print(b)

ValueError: ignored

In [ ]:
a = ["ten", "11", "12", "13"]
b =  0
for n in a:
    try:
        b += int(n)
    except ValueError:
        pass
print(b)

36

In [ ]:
try:
    print("test")
    int("100")
except ValueError:
    print("例外が発生しました")
else:
    print("例外が発生しませんでした")
finally:
    print("例外の発生に関わらず実行")

test
例外が発生しませんでした
例外の発生に関わらず実行