In [2]:
import pandas as pd

df = pd.read_csv("./50_states.csv")
df.head()

        state    x    y
0     Alabama  139  -77
1      Alaska -204 -170
2     Arizona -203  -40
3    Arkansas   57  -53
4  California -297   13

In [3]:
alabama  = df[df["state"]=="Alabama"]
alabama["x"].values[0]

np.int64(139)

In [4]:
type(alabama["x"].values[0])

numpy.int64

In [5]:
type(alabama["x"].item())

int

In [6]:
type(alabama.iloc[0])

pandas.core.series.Series

In [7]:
type(alabama)

pandas.core.frame.DataFrame

In [11]:
for (index, row) in df.iterrows():
    print(type(row.x))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
import re

sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
words = re.findall(r"[A-Za-z]+", sentence)
print(words)

['What', 'is', 'the', 'Airspeed', 'Velocity', 'of', 'an', 'Unladen', 'Swallow']